* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.controls {
    text-align: center;
}

button {
    font-size: 14px;
}

.content {
    display: flex;
    height: 80vh;
}

.raw-markdown,
.rendered-html {
    padding: 1em;
    overflow-y: auto;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
}

.raw-markdown {
    font-family: monospace;
}
